{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "class-methods-use-this": [
      "error",
      {
        "exceptMethods": [
          "signout",
          "userAnswer",
          "movieAnswer",
          "errorHandler",
          "getCustomError",
          "is11000error",
          "getFullErrMsg"
          ]
        }
    ],
    "no-unused-vars": ["error", { "argsIgnorePattern": "ext" }],
    "import/extensions": ["error", { "js": "ignorePackages" }],
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 8 }]
  }
}
