{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "class-methods-use-this": [
      "error",
      {
        "exceptMethods": ["signout", "userAnswer", "movieAnswer", "errorHandler"]
        }
    ],
    "no-unused-vars": ["error", { "varsIgnorePattern": "next" }]
  }
}
